extends layout/main
block content
	section.content
		.contacts
			h3 &Kcy;&ocy;&ncy;&tcy;&acy;&kcy;&tcy;&ncy;&acy; &iukcy;&ncy;&fcy;&ocy;&rcy;&mcy;&acy;&tscy;&iukcy;&yacy;:
			.contact-info
				ul.contact-names
					li приймальна
					li приймальник замовлень
					li бухгалтерія
					li начальник
					li адміністратор
					li бухгалтер по нарахуванню кабінет №2
				ul.contact-phones 
					li 65-69-14
					li 50-83-53
					li 66-42-57
					li 65-69-14
					li 50-83-57
					li 50-83-58