extends layout/main
block content
	section.content
		.little-scheldues
			.scheldue-1
				table
					tbody
						tr
							th.table-header(colspan='2')
								strong Графік роботи підприємства:
						tr
							td понеділок - четверг
							td з 8.00 до 17.00
						tr
							td п'ятниця
							td з 8.00 до 16.00
						tr
							td обідня перерва
							td з 12.00 до 13.00
						tr
							td субота, неділя
							td вихідний
			.scheldue-2
				table
					tbody
						tr
							th.table-header(colspan='2')
								strong
									| Графік роботи 
									br
									| Центру обслуговування споживачів 
									br
									| МКП "УК
									| 								"Київська""
									br
									| (м.Вінниця, вул.Київська, 31):
						tr
							td понеділок - п'ятниця
							td з 8.00 до 17.00
						tr
							td субота, неділя
							td вихідний
			.scheldue-3
				table
					tbody
						tr
							th.table-header(colspan='2')
								strong
									| Графік роботи каси по прийому платежів ТОВ "ЦМСУ"
									br
									| (вул.Київська, 31):
						tr
							td понеділок - четверг
							td з 8.00 до 16.00
						tr
							td п'ятниця
							td з 8.00 до 15.00
						tr
							td обідня перерва
							td з 12.00 до 13.00
						tr
							td субота, неділя
							td вихідний
		.big-scheldues
			p
				strong
					| ГРАФІК
					br
					| прийому громадян
					br
					| у Центрі обслуговування
					| 				споживачів МКП "УК "Київська""
				br
				em за адресою: м.Вінниця, вул. Київська, 31
			p
				strong Кабінет № 1
			table
				tbody
					tr
						th(style='width: 33%')
							strong ПОСАДА
						th(style='width: 20%')
							strong ГОДИНИ ПРИЙОМУ
						th(style='width: 20%')
							strong ПРИМІТКА
					tr
						td.table-header(colspan='3')
							strong Понеділок
					tr
						td Начальник МКП "УК"Київська""
						td 14.00 – 17.00
						td
					tr
						td Депутат Вінницької міської ради Іорданов Юрій Іванович
						td 14.00 – 17.00
						td 1 та 3 понеділок місяця
					tr
						td.table-header(colspan='3')
							strong Вівторок
					tr
						td Економіст МКП "УК"Київська""
						td 9.00 – 12.00
						td
					tr
						td
							| Уповноважений міського голови по виборчому округу № 3 Космина
							| Наталія Миколаївна
						td 15.00 – 17.00
						td 1 та 3 вівторок місяця
					tr
						td Головний інженер МКП "УК"Київська""
						td 15.00 – 17.00
						td
					tr
						td.table-header(colspan='3')
							strong Середа
					tr
						td Заступник начальника МКП "УК"Київська""
						td 9.00 – 11.00
						td
					tr
						td Економіст МКП "УК"Київська""
						td
						td 2 та 4 середа місяця
					tr
						td
							| Депутат Вінницької міської ради по виборчому округу № 4 Ткачук
							| Григорій Стахович
						td 15.00 – 17.00
						td 1 та 3 середа місяця
					tr
						td.table-header(colspan='3')
							strong Четвер
					tr
						td Головний бухгалтер МКП "УК"Київська""
						td 9.00 – 11.00
						td
			br
			p
				strong
					| ГРАФІК
					br
					| прийому громадян
					br
			p
				strong Кабінет № 2
			table
				tbody
					tr
						th(style='width: 33%')
							strong ПОСАДА
						th(style='width: 20%')
							strong ГОДИНИ ПРИЙОМУ
						th(style='width: 20%')
							strong ОБІДНЯ ПЕРЕРВА
					tr
						td.table-header(colspan='3')
							strong Понеділок
					tr
						td Адміністратор департамента адміністративних послуг ВМР
						td 8.00 – 17.00
						td 12.00- 13.00
					tr
						td Бухгалтер МКП "УК"Київська""
						td 8.00 – 17.00
						td 12.00- 13.00
					tr
						td.table-header(colspan='3')
							strong Вівторок
					tr
						td Адміністратор департамента адміністративних послуг ВМР
						td 8.00 – 17.00
						td 12.00- 13.00
					tr
						td Бухгалтер МКП "УК"Київська""
						td 8.00 – 17.00
						td 12.00- 13.00
					tr
						td.table-header(colspan='3')
							strong Середа
					tr
						td Адміністратор департамента адміністративних послуг ВМР
						td 8.00 – 17.00
						td 12.00- 13.00
					tr
						td Бухгалтер МКП "УК"Київська""
						td 8.00 – 17.00
						td 12.00- 13.00
					tr
						td.table-header(colspan='3')
							strong Четвер
					tr
						td Адміністратор департамента адміністративних послуг ВМР
						td 8.00 – 17.00
						td 12.00- 13.00
					tr
						td Бухгалтер МКП "УК"Київська""
						td 8.00 – 17.00
						td 12.00- 13.00
					tr
						td.table-header(colspan='3')
							strong П'ятниця
					tr
						td Адміністратор департамента адміністративних послуг ВМР
						td 8.00 – 17.00
						td 12.00- 13.00
					tr
						td Бухгалтер МКП "УК"Київська""
						td 8.00 – 17.00
						td 12.00- 13.00
			br
			p
				strong
					| ГРАФІК
					br
					| прийому суміжними підприємствами
					br
			p
				strong Кабінет № 3
			table
				tbody
					tr
						th(style='width: 33%')
							strong ПОСАДА
						th(style='width: 20%')
							strong ГОДИНИ ПРИЙОМУ
						th(style='width: 20%')
							strong ОБІДНЯ ПЕРЕРВА
					tr
						td.table-header(colspan='3')
							strong Понеділок
					tr
						td
							| Консультант відділу по роботі зі споживачами комунальних послуг
							| ТОВ «ЦМСУ»
						td 8.00 – 17.00
						td 12.00- 13.00
					tr
						td Представник ВУГГ ПАТ «Вінницягаз»
						td 8.00 – 17.00
						td 12.00- 13.00
					tr
						td Представник ТОВ "ЕНЕРА ВІННИЦЯ"
						td
						td
					tr
						td.table-header(colspan='3')
							strong Вівторок
					tr
						td
							| Консультант відділу по роботі зі споживачами комунальних послуг
							| ТОВ «ЦМСУ»
						td 8.00 – 17.00
						td 12.00- 13.00
					tr
						td Представник ВУГГ ПАТ «Вінницягаз»
						td 8.00 – 17.00
						td 12.00- 13.00
					tr
						td Представник ТОВ "ЕНЕРА ВІННИЦЯ"
						td
						td
					tr
						td.table-header(colspan='3')
							strong Середа
					tr
						td
							| Консультант відділу по роботі зі споживачами комунальних послуг
							| ТОВ «ЦМСУ»
						td 8.00 – 17.00
						td 12.00- 13.00
					tr
						td Представник ВУГГ ПАТ «Вінницягаз»
						td 8.00 – 17.00
						td 12.00- 13.00
					tr
						td Представник ТОВ "ЕНЕРА ВІННИЦЯ"
						td
						td
					tr
						td.table-header(colspan='3')
							strong Четвер
					tr
						td
							| Консультант відділу по роботі зі споживачами комунальних послуг
							| ТОВ «ЦМСУ»
						td 8.00 – 18.00
						td 12.00- 13.00
					tr
						td Представник ВУГГ ПАТ «Вінницягаз»
						td 8.00 – 17.00
						td 12.00- 13.00
					tr
						td Представник ТОВ "ЕНЕРА ВІННИЦЯ"
						td
						td
					tr
						td.table-header(colspan='3')
							strong П'ятниця
					tr
						td
							| Консультант відділу по роботі зі споживачами комунальних послуг
							| ТОВ «ЦМСУ»
						td 8.00 – 17.00
						td 12.00- 13.00
					tr
						td Представник ВУГГ ПАТ «Вінницягаз»
						td 8.00 – 17.00
						td 12.00- 13.00
					tr
						td Представник ТОВ "ЕНЕРА ВІННИЦЯ"
						td
						td
			br
