extends layout/main
block content
	section.content
		.service-title
			h3 Тарифи 
				| на послуги з утримання будинків і споруд та прибудинкових територій
				br
		table.service-table
			tbody
				tr
					th(style='width: 10%') ​​№ п/п​​
					th(style='width: 40%') ​Адреса житлових будинків
					th(style='width: 25%') Кількість поверхів
					th(style='width: 25%') Тариф на обслуговування 1 м.кв. загальної площі в місяць з ПДВ, грн.
				tr
					td 1
					td вул. Київська, 53​
					td 16
					td 4.73
				tr
					td 2
					td ​​вул. Київська, 160а
					td 10
					td 3.97
				tr
					td 3
					td ​вул. С. Зулінського, 49
					td 10
					td 4.25	
				tr
					td 4
					td ​вул. Грибоєдова, 3
					td 9
					td 4.08
				tr
					td 5
					td вул. Грибоєдова, 10
					td 9
					td 3.75
				tr
					td 6
					td вул. Жуковського, 10​
					td 9
					td 3.86
				tr
					td 7
					td вул. Жуковського, 12
					td 9
					td 3.97
				tr
					td 8
					td вул. Жуковського, 14​
					td 9
					td 4.34
				tr
					td 9
					td вул. Київська, 31​
					td 9
					td 4.13
				tr
					td 10
					td вул. Богдана Ступки, 17​
					td 9
					td 3.77
				tr
					td 11
					td вул. Богдана Ступки, 21​
					td 9
					td 3.93
				tr
					td 12
					td вул. Чайковського, 21
					td 9
					td 3.86
				tr
					td 13
					td ​пров. 1-​й Кар’єрний, 3
					td 9
					td 4.03
				tr
					td 14
					td ​вул. Київська, 50
					td 9
					td 4.34
				tr
					td 15
					td ​​вул. Київська, 52
					td 9
					td 4.02
				tr
					td 16
					td ​​вул. Київська, 114
					td 9
					td 4.04
				tr
					td 17
					td ​вул. Київська, 146
					td 9
					td 4.21
				tr
					td 18
					td ​вул. Київська, 148
					td 9
					td 4.02
				tr
					td 19
					td ​вул. Київська, 162а
					td 9
					td 4.00
				tr
					td 20
					td ​вул. Нечуя- Левицького, 10
					td 9
					td 3.77
				tr
					td 21
					td ​вул. Нечуя- Левицького, 12
					td 9
					td 3.54
				tr
					td 22
					td ​вул. Богдана Ступки, 3
					td 9
					td 3.97
				tr
					td 25
					td ​​вул. Рєпіна, 18
					td 9
					td 3.99
				tr
					td 26
					td ​​вул. Саксаганського, 15
					td 9
					td 3.78
				tr
					td 27
					td ​вул. Саксаганського, 34
					td 9
					td 3.84
				tr
					td 28
					td ​​вул. Талаліхіна, 3
					td 9
					td 3.94
				tr
					td 29
					td ​вул. Талаліхіна, 5
					td 9
					td 3.97
				tr
					td 30
					td ​вул. С. Зулінського, 34А
					td 9
					td 4.41
				tr
					td 31
					td ​вул. С. Зулінського, 37
					td 9
					td 4.16
				tr
					td 32
					td ​вул. С. Зулінського, 39
					td 9
					td 4.26
				tr
					td 33
					td ​вул. С. Зулінського, 41
					td 9
					td 4.21
				tr
					td 34
					td ​​вул. С. Зулінського, 47
					td 9
					td 3.91
				tr
					td 35
					td ​вул. Чайковського, 15
					td 9
					td 3.90
				tr
					td 36
					td ​​вул. Чайковського, 19
					td 9
					td 3.70
				tr
					td 37
					td ​​пров. 1-й Київський, 55
					td 9
					td 3.78
				tr
					td 38
					td ​пров. 1-й Київський, 64
					td 9
					td 3.62
				tr
					td 39
					td ​​пров. 1-й Київський, 66
					td 9
					td 3.97	
				tr
					td 40
					td ​​​вул. Айвазовського,25
					td 5
					td 3.19
				tr
					td 41
					td ​​вул. Айвазовського,53
					td 5
					td 3.12
				tr
					td 42
					td ​​​вул. Гонти,21
					td 5
					td 2.86
				tr
					td 43
					td ​​​вул. Гонти,23
					td 5
					td 3.05	
				tr
					td 44
					td ​​​вул. Гонти,25
					td 5
					td 3.03	
				tr
					td 45
					td ​​​вул. Гонти,27
					td 5
					td 2.83	
				tr
					td 46
					td ​​вул. Грибоєдова,2
					td 5
					td 3.19
				tr
					td 47
					td ​​вул. Громова, 15
					td 5
					td 3.06
				tr
					td 48
					td ​​​вул. Київська,43
					td 5
					td 3.75
				tr
					td 49
					td ​​​вул. Київська,47
					td 5
					td 3.12	
				tr
					td 50
					td ​​​вул. Київська,49
					td 5
					td 3.09
				tr
					td 51
					td ​​​вул. Київська,56
					td 5
					td 2.92	
				tr
					td 52
					td ​​​вул. Київська,58
					td 5
					td 2.45	
				tr
					td 53
					td ​​​вул. Київська,60
					td 5
					td 2.85
				tr
					td 54
					td ​​​вул. Київська,62
					td 5
					td 2.75	
				tr
					td 55
					td ​​​вул. Київська,64
					td 5
					td 2.36	
				tr
					td 56
					td ​​​вул. Київська,66
					td 5
					td 2.49
				tr
					td 57
					td ​​​вул. Київська,74
					td 5
					td 3.28				
						

