doctype html
html(lang='uk')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(http-equiv='X-UA-Compatible', content='ie=edge')
		link(rel='stylesheet', href='../css/style.css')
		link(href='https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;800&display=swap', rel='stylesheet')
		link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.7.2/css/all.css')		
		title Main page
	body
		a.back_to_top(title='Вгору') ↑
		header.header
			.logo
				img(src='../img/logo.svg', width='60', height='60', alt='')
				span МКП "Управляюча компанія "Київська"
			ul.menu
				li
					a(href='index.html') Головна
				li
					a(href='pro-nas.html') Про нас
				li
					a(href='contacts.html') Контакти
		block content			
		footer.footer
			.footer-nav
				ul
					li
						a(href='meetings.html') Графік прийомів
					li
						a(href='services.html') Перелік послуг
						ul
							li
								a(href='services.html#list') Перелік послуг
							li
								a(href='services.html#order') Порядок і періодичність надання послуг
					li
						a(href='buildings.html') Перелік будинків
				ul
					li
						a(href='tarifs.html') Тарифи
					li
						a(href='contacts.html') Контакти
					li
						a(href='pro-nas') Про нас
					li
						a(href='index.html') Головна 
			.footer-copyright
				| Copyright ©
				br
				| Nastia Yemelianova 2020
		script(src='/js/scripts.js')